# PlatformIO build directory
.pio/

# VS Code settings
.vscode/

# Compiled binaries and temporary files
*.elf
*.bin
*.hex
*.map

# Operating system files
.DS_Store
Thumbs.db

# Release artifacts
releases/

arduino_secrets.h
